<div class="container">
    <div class="nav nav-tabs">
        <div class="jumbotron">
            <h2>Solution <em>Driven</em> Software Developer.</h2>
            <!--the people project-->
            <!--background image thanks to sandeepsarma photography-->
            <img src="~/Content/quotes-407.jpg" />
            
        </div>
    </div>
</div>
