<div class="container">
    <div class="nav nav-tabs">
        <div class="jumbotron">
            <h2>Solution <em>Driven</em> Software Developer.</h2>
            <p class="btn btn-default"><a href="@Url.Action("Professional", "Professional")">Learn More</a></p>
        </div>
    </div>
</div>
