<div class="col-md-5">
    <img src="~/Content/cigar-and-cognac.jpg" height="350" />
</div>


<div class="col-md-5">
    <h2>Cigar Aficionado</h2>
    <p>
        In 2009, I was TDY (temporary duty) in the Army to Ft. Gordon, Ga. Not knowing anyone, I kept trying to find new ways to meet people. One day, an advertisement for a local cigar store came on the radio, and I went. 
    </p>
 
    <p>"A cigar is only as good as the memories that you have when you smoked it." Raul Julia. I have had my fair share of good memories, thought provoking conversations, and met many good men around a good cigar. </p>

</div>