<div class="col-md-5">

    <img src="~/Content/specialized.jpg" height="300" />

</div>


<div class="col-md-5">
    <h2>Avid Cyclist</h2>
    <p>
        I absolutely love cycling. In an effort to improve my cycling, get in better shape, and seek new challenges, I intend to complete a century (100 mile) bike ride, and hope to replace my car completely within a year.
    </p>

</div>