<div class="col-md-5">
    <img src="~/Content/go1.jpg" height="300" />
</div>


<div class="col-md-5">
    <h2>Go Student</h2>
    <p>
        Since 2011 when I discovered the game, I have been a constant student of Go, reading all I can find on the subject. Go is the oldest game still played in its original form. The game is being played the same today as it was 2000 B.C., and even Confucius wrote about it, Saying "Gentlemen should not waste their time on trivial games -- they should play go." It is a fascinating game with a rich history, and I encourage everyone to experience it at least once!
    </p>
    <p><a href="https://gogameguru.com/">Learn More About Go!</a></p>

</div>