<div class="side-nav-bar">
    <ul class="side-nav">

        <li id="button1" class="active" data-link="@Url.Action("Cyclist", "Personal")">Cycling</li>
        <li id="button2" data-link="@Url.Action("Go","Personal")">Go</li>
        <li id="button3" data-link="@Url.Action("Cigars","Personal")" >Cigars</li>
    </ul>
</div>