<div class="container">
    <div class="personal">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">

                    <div class="col-md-2 column nav-left-side">
                        @{ Html.RenderPartial("PersonalNavigation");  }
                    </div>
                    <div class="right-side">
                        <div class="col-md-5 column">

                            <img src="~/Content/topofmtn.jpg" height="300" />
                             
                        </div>

                        <div class="col-md-5 column">

                            <p>Constantly active, and eager to have new experiences, I lead an active lifestyle. From cycling and yoga, to board and war gaming, to historical study and cigars, I have a myriad of hobbies to keep me on my toes, and to life interesting. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>