<div class="side-nav-bar">
    <ul class="side-nav">

        <li class="active"><a href="@Url.Action("Cyclist", "Personal")">Cycling</a></li>
        <li><a href="@Url.Action("Go","Personal")">Go</a></li>
        <li><a href="@Url.Action("Cigars","Personal")">Cigars</a></li>
    </ul>
</div>