<div class="side-nav-bar">
    <ul class ="side-nav">

        <li class="active" data-link="@Url.Action("Cyclist", "Personal")">Cycling</li>
        <li data-link="@Url.Action("Go", "Personal")">Go</li>
        <li data-link="@Url.Action("Cigars","Personal")">Cigars</li>
    </ul>
</div>