
<div class="col-md-5">

    <img src="~/Content/Screenshot_2015-05-25-19-31-23.png" height="300"/>
    
</div>


<div class="col-md-5">
    <h2>IGDA Hackathon</h2>
    <p>At the Independant Game Developers Association Hackathon, April 2015.</p>
</div>