<div class="col-md-5">


    <img src="~/Content/NowZad.jpg" height="300"/>
</div>


<div class="col-md-5">
    <h2>Army Veteran</h2>
    <p>
        After completion of mission at Camp Now Zad, Afghanistan, 2011.
    </p>

</div>