<div class="container">

    <div class="professional">
        <div class="row clearfix">
            <div class="row clearfix">
                <div class="col-md-2 column nav-left-side">
                    @{ Html.RenderPartial("ProfessionalNavigation");  }
                </div>
                <div class="right-side">
                    <div class="col-md-3">

                        <img src="~/Content/mearmy.jpg" height="300" />


                    </div>


                    <div class="col-md-7 column"><p>
    I have spent years cultivating an insatiable desire to learn, by continually placing myself in situations where I am forced to adjust and acquire new skills. As an Army veteran, I tested my mental and physical limits while mastering new satellite communication technologies and serving my country. After leaving the service, I was introduced to programming, and haven't looked back. For me, Coding is the fusion of creativity and technology, as it utilizes my past experiences and satisfies my desire to push myself and learn new things. I am ready to take on this next challenge in my life and grow as a developer while contributing my skills as part of a dynamic team.
</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
