<div class="side-nav-bar">
    <ul class ="side-nav">

        <li class="active"><a href="@Url.Action("ProfessionalPage1","Professional")">Page 1</a></li>
        <li><a href="@Url.Action("ProfessionalPage2", "Professional")">Page 2</a></li>
        <li><a href="@Url.Action("ProfessionalPage3", "Professional")">Page 3</a></li>
    </ul>
</div>