<div class="container">

    <div class="about-me">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column nav-left-side">
                        @{ Html.RenderPartial("ProfessionalNavigation");  }
                    </div>
                    <div class="col-md-6 column left-side">
                        <ul>
                            <li class="active"><img src="http://pic-zoom.com/media/images/picture-wallpaper.jpg" height="100" , width="100"></li>

                            <li class="hidden"><img src="http://i1-news.softpedia-static.com/images/news2/Picture-of-the-Day-Real-Life-Simba-and-Mufasa-Caught-on-Camera-in-Tanzania-392687-2.jpg" height="100" , width="100" /></li>
                            <li class="hidden"><img src="http://media.npr.org/images/picture-show-flickr-promo.jpg" height="100" , width="100" /></li>
                            <li class="hidden"><img src="http://i2.mirror.co.uk/incoming/article835436.ece/ALTERNATES/s615/Aurora%20borealis,%20the%20spectacular%20Northern%20Lights%20turn%20the%20sky%20green%20at%20Ifjord%20in%20Finnmark,%20Norway" height="100" , width="100" /></li>

                        </ul>

                    </div>

                    <p class="btn btn-default profprevious">previous</p>
                    <div class="col-md-4 column right-side">
                        Lorem ipsum dolor sit amet, mei putent iisque accusam no, mel ut invenire rationibus constituto. Eam albucius phaedrum oportere an. Pri cu iudico eligendi mandamus. Cu eos veniam invidunt persequeris, in simul molestie sed, id mollis labores mediocritatem vel. Et duis ignota delectus ius, no mea verterem laboramus, nostro gubergren definiebas at vis. Sed ut ridens verear nusquam, affert patrioque ne vix. Corpora tractatos no vix, sale animal debitis has cu.


                    </div>
                    <p class="btn btn-default profnext">next</p>
                </div>
            </div>
        </div>
    </div>
</div>

