<div class="col-md-5">


    <img src="~/Content/NowZad.jpg" height="300" />
</div>


<div class="col-md-5">
    <h2>SeedPaths</h2>
    <p>At SeedPaths, an 8 week intensive software development boot camp.</p>

</div>