<div class="side-nav-bar">
    <ul class ="side-nav">

        <li id="button1" class="active" data-link="@Url.Action("ProfessionalPage1", "Professional")">Army</li>
        <li id="button2" data-link="@Url.Action("ProfessionalPage2", "Professional")">IGDA Hackathon</li>
        <li id="button3" data-link="@Url.Action("ProfessionalPage3", "Professional")">SeedPaths</li>
    </ul>
</div>