<div class="console">
    <div class="col-md-6">

        <img src="~/Content/Screenshot 2015-05-16 21.50.09.png" height="300" />
        <img src="~/Content/wt6tl08ml7c7.png" height="300" />

    </div>
</div>

<div class="col-md-4 column">
    <h2>Cybernetix</h2>
    <p>
        Select your arsenal, purchase upgrades, and fight your way through a cybernetic post-apocolypse.
    </p><p>
        Filled with animations and features, <strong>Cybernetix</strong> is a turn based combat system that tells takes the user through humanities last remaining cities, in a last ditch effort to save them from their demise!
    </p>


</div>

