
<div class="col-md-6">
    <img src="~/Content/blueprints.png" height="300" />



</div>


<div class="col-md-4 column">
    <p>Working independantly, I was able to use the free Unreal Engine 4 SDK to develop a free running platformer using the kinect as the primary input device for the user. My project won an honory mention after presentation at the end of the hackathon, winning a free kinect, and copy of Windows 8 Pro. I learned a great deal in a very short period of time, including the blueprint programming model used by UE4. </p>

</div>

