
                    <div class="col-md-6">
                        <img src="~/Content/Don'tDie.png" height="300"/>


                    </div>


                    <div class="col-md-4 column">
                        <p><strong>Jump, Don't Die</strong> is the result of a 2 day, intense hackathon, hosted by the <strong><a href="http://www.igda.org/group/ColoradoIndependant" target="_blank"> Independant Game Developers Association</a></strong> in association with the denver microsoft desert mountain district, in April, 2015. This was my first experience at this type of event, as well as my first time using both a graphics engine the kinect. Microsoft the hardware to work with, and developers from <strong><a href="http://opaquemultimedia.com/index.html" target="_blank"> Opaque Multimedia </a></strong>were there to provide assistance in developing using their proprietary unreal engine 4 libraries for the kinect. </p>
                        
                    </div>

                