<div class="container">
    <div class="work">

        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">

                    <div class="col-md-2 column">
                        @{ Html.RenderPartial("WorkNavigation");  }
                    </div>
                    <div class="right-side">
                        <div class="col-md-6 column">
                            <div class="qualifications">
                                <img src="~/Content/Media/vslogo2012.png">
                                <img src="~/Content/Media/dotnet.png" />
                                <img src="~/Content/Media/Logo.png" />
                                <img src="~/Content/Media/0310.SQLServerLogo.png-550x0.png" />

                                <img src="~/Content/Media/bootstrap.png" />
                                <img src="~/Content/Media/jquery_logo (1).png" />
                                <img src="~/Content/Media/ajax.gif" />

                                <img src="~/Content/Media/javascript_logo_unofficial-300x300.png" />
                                <img src="~/Content/Media/html5css3badges.png" />

                                <img src="~/Content/Media/Photoshop-Logo-XL-1024x1013.png" />
                                <img src="~/Content/Media/ue4.png" />
                                <img src="~/Content/Media/java-transparent.png" />
                                <img src="~/Content/Media/logo-800x188.png">
                            </div>
                        </div>
                        <div class="col-md-4 column">
                            <p class="about-text">My goal is to continually grow and expand my skills as a programmer. I have taken part in the SeedPaths coding boot camp, and the IGDA Colorado Denver Kinect Hackathon. Starting with Java, I have expanded my skillset to include C#, Javascript, Unreal Engine 4, SQL, and more. Click below to see a few excerpts of my work so far.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>