<div class="console">
    <div class="col-md-6">
        <img src="~/Content/spacerace.png" height="120" />
        <img src="~/Content/srgameplay.png" height="120" />
        <img src="~/Content/highscoreSR.png" height="120" />
        <img src="~/Content/Screenshot 2015-05-16 22.09.49.png" height="50" />
    </div>
</div>

<div class="col-md-4 column">
    <h2>Space Race</h2>
    <p>
        <em>In space, noone can hear you scream...</em>
    </p><p>
       But they <em>CAN</em> see you scream <em>BY</em> them! <strong>Space Race 4</strong> lets you take part in the galaxies greatest death defying stunt, asteroid belt sprint racing! How far can you get?
    </p>

</div>

