<div class="side-nav-bar">
    <ul class="side-nav">

        <li id="button1" class="active" data-link="@Url.Action("Hackathon","Work")">IGDA Hackathon</li>
        <li id="button2" data-link="@Url.Action("Hackathon2", "Work")">Unreal Engine</li>
        <li id="button2" data-link="@Url.Action("Cybernetix", "Work")">Cybernetix</li>
        <li id="button3" data-link="@Url.Action("SpaceRace","Work")">Space Race</li>
    </ul>
</div>