<div class="side-nav-bar">
    <ul class="side-nav">

        <li class="active"><a href="@Url.Action("Hackathon","Work")">IGDA Hackathon</a></li>
        <li><a href="@Url.Action("SeedPaths", "Work")">SeedPaths</a></li>
        <li><a href="@Url.Action("PersonalProjects","Work")">PersonalProjects</a></li>
    </ul>
</div>